In [10]:
#import pandas as pd
#df = pd.read_csv(r'C:\Users\imran\Desktop\MyData\Python\pokemon_data.csv')
#print(df.head(5))

In [40]:
#print(df.head(5))
#for x in df:
#   print(x)

# to find exact location or complete row / Column
#print(df.loc[0 , 'Speed'])
#print(df.loc[: , 'Speed'])

45

In [48]:

# it takes Boolean as well - First enter row value as booleand and all columns as ':'
#df.loc[(df.HP)>60, :]

In [87]:
#df.head(5)

# adding rows:
#df['Total'] = df.iloc[:, 4:10].sum(axis=1)

#droping Columns and updating the same to main data frame df:
#df = df.drop(columns=['total'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [99]:
#Save the columns values in variable 'cols' and then rearrange the columns as required:
#cols = list(df.columns.values)
#df= df[cols[0:4]+[cols[-1]]+cols[4:12]]
#print (df.head(5))

   #                   Name Type 1  Type 2  Legendary  Total  HP  Attack  \
0  1              Bulbasaur  Grass  Poison      False    318  45      49
1  2                Ivysaur  Grass  Poison      False    405  60      62
2  3               Venusaur  Grass  Poison      False    525  80      82
3  3  VenusaurMega Venusaur  Grass  Poison      False    625  80     100
4  4             Charmander   Fire     NaN      False    309  39      52

   Defense  Sp. Atk  Sp. Def  Speed  Generation
0       49       65       65     45           1
1       63       80       80     60           1
2       83      100      100     80           1
3      123      122      120     80           1
4       43       60       50     65           1

In [111]:
#Saving the new dataset as modified after columns rearrangement into diff format

#df.to_csv('modified.csv',index = False)
#df.to_excel('modified.xlsx' , index= False)
#df.to_csv('modified.txt' , index= False, sep='\t')

       #                   Name   Type 1  Type 2  Legendary  Total  HP  \
0      1              Bulbasaur    Grass  Poison      False    318  45
1      2                Ivysaur    Grass  Poison      False    405  60
2      3               Venusaur    Grass  Poison      False    525  80
3      3  VenusaurMega Venusaur    Grass  Poison      False    625  80
4      4             Charmander     Fire     NaN      False    309  39
..   ...                    ...      ...     ...        ...    ...  ..
795  719                Diancie     Rock   Fairy       True    600  50
796  719    DiancieMega Diancie     Rock   Fairy       True    700  50
797  720    HoopaHoopa Confined  Psychic   Ghost       True    600  80
798  720     HoopaHoopa Unbound  Psychic    Dark       True    680  80
799  721              Volcanion     Fire   Water       True    600  80

     Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
0        49       49       65       65     45           1
1        62       63       80       80     60           1
2        82       83      100      100     80           1
3       100      123      122      120     80           1
4        52       43       60       50     65           1
..      ...      ...      ...      ...    ...         ...
795     100      150      100      150     50           6
796     160      110      160      110    110           6
797     110       60      150      130     70           6
798     160       60      170      130     80           6
799     110      120      130       90     70           6

[800 rows x 13 columns]

In [137]:
#Filtering:

#df.head(5)
#df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]